{% extends "layout.html" %}


{% block body %}
<h2>Tervetuloa liikeseuranta-sovellukseen</h2>
<p>
</p>
{% if listaa_valmentajia_ryhma is defined %}
<h4> Valmentajien lisäämät ryhmät: </h4>
<table class="table">
    <tr>
        <th>Nimi</th>
        <th>Ryhmien määrä</th>
      </tr>
  {% for valmentaja in listaa_valmentajia_ryhma %}
    <tr>
       <td>{{ valmentaja.name }}</td> 
       <td>{{ valmentaja.ryhmat }}</td>  
     </tr>
  {% endfor %}
</table>
{% endif %}
{% if listaa_valmentajia_voimistelija is defined %}
<h4> Valmentajien lisäämät voimistelijat: </h4>
<table class="table">
    <tr>
        <th>Nimi</th>
        <th>Voimistelijoides määrä</th>
      </tr>
  {% for valmentaja in listaa_valmentajia_voimistelija %}
    <tr>
       <td>{{ valmentaja.name }}</td> 
       <td>{{ valmentaja.voimistelijat }}</td>  
     </tr>
  {% endfor %}
</table>
{% endif %}

{% endblock %}
