{% extends "layout.html" %}
  
{% block body %}
  <form method="POST" action="{{ url_for('suoritukset_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.tehtyja.label }}
	</td>
	<td>
	  {{ form.tehtyja }}
	</td>
	<td>
	  <ul>
	    {% for error in form.tehtyja.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.onnistuneita.label }}
	</td>
	<td>
	  {{ form.onnistuneita }}
	</td>
	<td>
	  <ul>
	    {% for error in form.onnistuneita.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
    <td>
      {{ form.harjoituskerta.label }}
    </td>
    <td>
      {{ form.harjoituskerta }}
    </td>
    <td>
      <ul>
        {% for error in form.harjoituskerta.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
      </tr>
      <tr>
    <td>
      {{ form.muuta.label }}
    </td>
    <td>
      {{ form.muuta }}
    </td>
    <td>
      <ul>
        {% for error in form.muuta.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
    </td>
      </tr>

	<td colspan="2">
	  <input type="submit" value="Lisää suoritus"/>
	</td>
      </tr>
  </form>
{% endblock %}