{% extends "layout.html" %}

{% block body %}
<h2>Ryhmät</h2>
<a href="{{ url_for('ryhmat_form') }}">Lisää ryhmä</a>
<table>
    {% if not ryhmat %}
    <tr>
      <td>
        <a>
          Ei lisättyjä ryhmiä.
        </a>
      </td>
    </tr>
    {% endif %}
  {% for ryhma in ryhmat %}
  <tr>
    <li>
      <a class="nav-link" href="{{ url_for('ryhma_tiedot', ryhma_id= ryhma.id) }}">{{ ryhma.ryhma }}</a>
    
     <div>
      {% if ryhma.vastuuvalmentaja_id == current_user.id %}
      <form method="POST" action="{{ url_for('voimistelijat_lisaa', ryhma_id=ryhma.id) }}">
        <input type="submit" value="Lisää uusi voimistelija ryhmään"/>
      </form>
      <form method="POST" action="{{ url_for('ryhmat_remove', ryhma_id=ryhma.id) }}">
        <input type="submit" value="Poista ryhmä"/>
      </form>
      {% endif %}
    </div>
  </li>
  </tr>
  {% endfor %}
</table>
{% endblock %}