{% extends "layout.html" %}

{% block body %}
<h2>Liikkeet</h2>
<a href="{{ url_for('liikkeet_form') }}">Lisää liike</a>
  <table>
        <tr>
          <th><h4>Liike</h4></th>
          <th><h4>Teline</h4></th>
          <th><h4>Vaikeusarvo</h4></th>
          <th><h4>Kuvaus</h4></th>
        </tr>
        {% if not liikkeet %}
        <tr>
          <td>
            <a>
              Ei lisättyjä liikkeitä.
            </a>
          </td>
        </tr>
        {% endif %}
        {% if liikkeet %}
        <tr>
          <th><h4>Liike</h4></th>
          <th><h4>Teline</h4></th>
          <th><h4>Vaikeusarvo</h4></th>
          <th><h4>Kuvaus</h4></th>
        </tr>
        {% endif %}

    {% for liike in liikkeet %}
    <tr>
      <td>{{ liike.nimi }}</td>
      <td>{{ liike.teline }}</td>
      <td>{{ liike.vaikeusarvo }}</td>
      <td>{{ liike.kuvaus }}</td>
      <td>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}