{% extends "layout.html" %}
  
{% block body %}
<h2>Lisää uusi liike</h2>
<div class="pane form">
  <form class="form-inline" action="{{url_for('liikkeet_create')}}" method="POST">
    <div class="form-group">
      {{form.nimi(class_="form-control", placeholder="Liikkeen Nimi")}}
      {{form.teline(class_="form-control", placeholder="")}}
      {{form.vaikeusarvo(class_="form-control", placeholder="")}}
      {{form.kuvaus(class_="form-control", placeholder="Kuvaus Liikkeestä")}}
      <input type="submit" class="btn btn-primary form-control" value="Lisää">
    </div>
  </form>
</div>
{% endblock %}