{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Voimistelijat</th>
    </tr>
    {% for voimistelija in voimistelijat %}
    <tr>
      <td>{{ voimistelija.nimi }}</td>
       <td>
      {% if voimistelija.vastuuvalmentaja_id == current_user.id %}
      <form method="POST" action="{{ url_for('voimistelijat_remove', voimistelija_id=voimistelija.id) }}">
        <input type="submit" value="Poista voimistelija"/>
      </form>
      <form method="POST" action="{{ url_for('voimistelija_liikkeet_add', voimistelija_id=voimistelija.id) }}">
          <input type="select" value="Lisää uusi liike"/>
      </form>
      {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
