{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Voimistelija</th>
      <th>Ryhmä</th>
    </tr>
    {% for voimistelija in voimistelijat %}
    <tr>
      <td>{{ voimistelija.nimi }}</td>
      <td>{{ voimistelija.ryhma }}</td>
      <td>
	      <th>Vaihda voimistelijan nimeä:</th>
	      <input type="text" name="uusinimi"/>
	      <form method="POST" action="{{ url_for('voimistelijat_set_name', voimistelija_id=voimistelija.id, uusinimi=uusinimi)}}">
	        <input type="submit" value="Vaihda nimeksi 'Maija'!"/>
	      </form>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
