{% extends "layout.html" %}
  
{% block body %}
<h2>Ryhmän tiedot</h2>
<div class="pane form" action="{{url_for('ryhma_tiedot', ryhma_id= ryhma_id)}}" method="POST">
  <table>
      <h4>Ryhmän voimistelijat</h4>
        {% if not voimistelijat %}
        <div>
          Ei lisättyjä voimistelijoita.
        </div>
        {% endif %}
        
        {% for voimistelija in voimistelijat %}
        {% if ryhma_id == voimistelija.ryhma_id %}
        <div>
          <li>
            <a>{{ voimistelija.nimi}}</a>
          </li>
        </div>
        {% endif %}
        {% endfor %}

        {% if listaa_ryhman_liikkeet is defined %}
          <h4> Seuraavat liikkeet on listattu ryhmälle: </h4>
          <table class="table">
            <tr>
              <th>Liike</th>
              <th>Teline</th>
              <th>Vaikeus</th>
            </tr>
            {% for liike in listaa_ryhman_liikkeet %}
            <tr>
              <td>{{ liike.nimi }}</td>
              <td>{{ liike.teline }}</td>
              <td>{{ liike.vaikeus }}</td>   
            </tr>
            {% endfor %}
            </table>
          {% endif %}
  </table>

{% endblock %}