{% extends "layout.html" %}
  
{% block body %}
  <form method="POST" action="{{ url_for('voimistelijat_create') }}">
    <table>
      <tr>
	<td>
	  {{ form.nimi.label }}
	</td>
	<td>
	  {{ form.nimi }}
	</td>
	<td>
	  <ul>
	    {% for error in form.nimi.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td>
	  {{ form.ryhma.label }}
	</td>
	<td>
	  {{ form.ryhma }}
	</td>
	<td>
	  <ul>
	    {% for error in form.ryhma.errors %}
	    <li>{{ error }}</li>
	    {% endfor %}
	  </ul>
	</td>
      </tr>
      <tr>
	<td colspan="2">
	  <input type="submit" value="Lisää voimistelija"/>
	</td>
      </tr>
  </form>
{% endblock %}
